<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Educacion Cibernetica</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>
<body>
    <!-- Header (Logo y botones para ir a secciones principales) -->
    <nav class="navbar navbar-dark color-fondo-azul">
        <div class="container" style="text-align: center">
            <!-- Logo -->
            <div class="col-12 col-sm-6" style="padding: 5px">
                <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap color-blanco" style="padding-right: 1rem"></i>Educacion Cibernetica</a>
            </div>
            <!-- Boton 'Introduccion' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Introduccion</button>
            </div>
            <!-- Boton 'Clases' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Clases</button>
            </div>
            <!-- Boton 'Informacion' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Informacion</button>
            </div>
        </div>
    </nav>


    <!-- Seccion de bienvenida para tercera edad -->
    <div class="container" style="text-align: center; padding-top: 2rem">
        <div class="row">
            <!-- Titulo -->
            <div class="col-12" style="padding: 1rem">
                <h4 class="color-azul">¡El recurso en linea para la Educacion Cibernetica de la Tercera Edad!</h4>
            </div>
            <!-- Logo central -->
            <div class="col-12" style="padding: 1rem">
                <i class="fas fa-user-graduate color-azul fa-10x"></i>
            </div>
            <!-- Explicacion del Sitio -->
            <div class="col-12" style="padding: 1rem">
                <p class="border border-primary color-azul" style="padding: 1rem">
                    Educacion Cibernetica es un sitio web diseñado para asistir a adultos mayores (o individuos con poca escaza experiencia) en la navegacion en linea.
                </p>
                <p class="border border-primary color-azul" style="padding: 1rem">
                    Ayuda a tus familiares con poco conocimiento de la web o dispositivos mobiles con simples y claras guias que los asistiran en su capacitacion paso por paso,
                    con todo desde navegacion de un sitio, como encontrar cosas en linea, el significado de simbolos, mantencion de un celular y seguridad personal.
                </p>
                <p class="border border-primary color-azul" style="padding: 1rem">
                    <b> Educacion Cibernetica es un recurso, ¡no un profesor!.</b> Utilice nuestra ayuda como la base con la cual introducira a otros a el mundo de la cibernetica. 
                </p>
            </div>
        </div>
    </div>


    <!-- Seccion para elegir clases -->
    <div class="container color-fondo-azul" style="text-align: center; padding-top: 1rem; padding-bottom: 1rem">
        <div class="row">
           <!-- Segundo Titulo --> 
            <div class="col-12" style="padding: 1rem">
                <h4 class="color-blanco">¡Inicia tu Educacion Cibernetica con una las siguientes clases!</h4>
            </div>
            <!-- Imagenes -->
            <div class="col-12 col-sm-4" style="padding: 1 rem">
                <img src="{% static "img/adultomayor0.JPG" %}" alt="img0" class="img-fluid img-thumbnail imagenes-col" style="object-fit:cover; object-position: 0% 20%">
            </div>
            <div class="col-12 col-sm-4" style="padding: 1 rem">
                <img src="{% static "img/adultomayor1.JPG" %}" alt="img1" class="img-fluid img-thumbnail imagenes-col" style="object-fit:cover; object-position: 0% 10%">
            </div>
            <div class="col-12 col-sm-4" style="padding: 1 rem">
                <img src="{% static "img/adultomayor2.JPG" %}" alt="img2" class="img-fluid img-thumbnail imagenes-col" style="object-fit:cover; object-position: 0% 100%">
            </div>
            <!-- Flecha -->
            <div class="col-12" style="padding: 1 rem">
                <i class="fas fa-arrow-down color-blanco fa-4x" style="padding: 1rem"></i><i class="fas fa-arrow-down color-blanco fa-4x" style="padding: 1rem"></i><i class="fas fa-arrow-down color-blanco fa-4x" style="padding: 1rem"></i>
            </div>
        </div>
    </div>


    <!-- Clases -->
    <div class="container" style="text-align: center; vertical-align: middle; padding-top: 2rem; padding-bottom: 2rem">
        <div class="row">
			<!-- Plantilla para todas las clases -->
            {% for i in lecciones %}
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><img src="{{i.icono.url}}" style="max-height: 100px; max-width: 100%" alt="Icono"></div>
                    <div style="padding: 8px"><h5>{{i.titulo}}</h5></div>
                    <div style="padding: 8px"><a href="clase/{{i.url}}"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></a></div>
            </div>
            {% endfor %}
			<!-- Clase 1: Navegacion en un Smartphone -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-mobile-alt fa-5x"></i></div>
                    <div style="padding: 8px"><h5>Navegacion en un Smartphone</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>
            <!-- Clase 2: ¿Que significa este icono? -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-bars fa-5x"></i></div>
                    <div style="padding: 8px"><h5>¿Que significa este icono?</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>
            
            <!-- Clase 3: Donde y como buscar lo que quieres -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-search fa-5x"></i></div>
                    <div style="padding: 8px"><h5>Como buscar lo que quieres</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>

            <!-- Clase 4: Como cuidar tu celular -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-briefcase-medical fa-5x"></i></div>
                    <div style="padding: 8px"><h5>Como cuidar tu celular</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>

            <!-- Clase 5: Los peligros de la web -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-exclamation-triangle fa-5x"></i></div>
                    <div style="padding: 8px"><h5>Los peligros de la web</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>

            <!-- Clase 6: Como hablar por el celular -->
            <div class="col-12 col-sm-6 col-md-4 border border-primary color-azul" style="padding: 1rem">
                    <div style="padding: 8px"><i class="fas fa-phone-square fa-5x"></i></div>
                    <div style="padding: 8px"><h5>¿Como hablar por el celular?</h5></div>
                    <div style="padding: 8px"><button type="button" class="btn btn-primary btn-block">Ir a Clase</button></div>
            </div>

        </div>
    </div>

    <!-- Footer con informacion extra -->
    <footer class="color-fondo-azul">
        <div class="container" style="padding-top:1rem; padding-bottom: 10rem">
            <div class="row">
                <!-- Logo DUOC -->
                <div class="col-12" style="padding: 1rem">
                    <img src="{% static "img/duoc-logo.png" %}" alt="logoduoc" class="img-fluid" style="object-fit:cover; width: 200px;">
                </div>
                <!-- Informacion de proyecto -->
                <div class="col-12" style="padding: 1rem">
                    <h5 class="color-blanco">Desarrollo Aplicaciones Web y Mobile - S2 2018.</h5>
                    <p class="color-blanco"> <b>Seccion 006D</b> - Felipe Moraga, Alexis Aravena, Mirko Ivanovich.</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>