<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Educacion Cibernetica</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
</head>
<body>
    <!-- Header (Logo y botones para ir a secciones principales) -->
    <nav class="navbar navbar-dark color-fondo-azul">
        <div class="container" style="text-align: center">
            <!-- Logo -->
            <div class="col-12 col-sm-6" style="padding: 5px">
                <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-graduation-cap color-blanco" style="padding-right: 1rem"></i>Educacion Cibernetica</a>
            </div>
            <!-- Boton 'Introduccion' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Introduccion</button>
            </div>
            <!-- Boton 'Clases' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Clases</button>
            </div>
            <!-- Boton 'Informacion' -->
            <div class="col-12 col-sm-2" style="padding: 5px">
                <button type="button" class="btn btn-light color-azul" style="width: 10rem">Informacion</button>
            </div>
        </div>
    </nav>


    <!-- Seccion para la creacion de lecciones -->
    <div class="container" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
        <div class="row">
            <div class="col-12" style="padding: 1rem">
                <h4 class="color-azul">Crear Clase:</h4>
            </div>
        </div>

        <form action="{% url 'crear_clase' %}" method="post" id="formularioClase" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

            <!-- Titulo de la Clase -->
            <div class="col-12 border" style="padding: 1rem">
                <div class="form-group">
                    <b><label class="color-azul" for="nombre">Nombre de la Clase:</label></b> 
                    <br>
                    <input type="text" id="nombre" name="nombre" value="" class="inputs-width" style="width: 300px" placeholder="Insertar nombre.">
                </div>
            </div>

            <!-- Anadir Imagen de Clase -->
            <div class="col-12 border" style="padding: 1rem">
                <div class="form-group">
                    <b><label class="color-azul" for="imgInp">Imagen de la Clase:</label></b>
                    <br> 
                    <div style="padding: 8px"><i class="fas fa-image fa-5x color-azul"></i></div>
                    <br>
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Añadir Imagen <input type="file" id="imgInp" name="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control"readonly>
                    </div>
                    <img id='img-upload'/>
                </div>
            </div>

            <!-- Añadir Cuerpo de Clase -->
            <div class="col-12 border" style="padding: 1rem">
                <div class="form-group">
                    <b><label class="color-azul" for="descripcion">Descripcion de la Clase:</label></b>
                    <br> 
                    <div style="padding: 8px"><i class="fas fa-pen-square fa-5x color-azul"></i></div>
                    <br>
                    <div class="col-md-12">
                        <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Insertar descripcion de la leccion pensada." rows="20" value=""></textarea>
                    </div>
                </div>
            </div>

            <!-- Añadir video de apoyo de clase -->
            <div class="col-12 border" style="padding: 1rem">
                <div class="form-group">
                    <b><label class="color-azul" for="ylink">Video de apoyo para la Clase:</label></b>
                    <br> 
                    <div style="padding: 8px"><i class="fab fa-youtube fa-5x color-azul"></i></div>
                    <br>
                    <div class="col-md-12">
                        <input type="text" id="ylink" name="ylink" value="" class="inputs-width" style="width: 300px" placeholder="https://www.youtube.com/watch?v="><i class="fas fa-link fa-2x color-azul"></i>
                    </div>
                </div> 
            </div>

            <!-- Elegir botones -->
            <div class="col-12 border" style="padding: 1rem">
                <div class="modal-footer">
                    <input class="btn btn-danger" type="reset" value="Limpiar Seleccion">
                    <input class="btn btn-outline-success" type="submit" onclick="LimpiarFormAdopt" value="Ingresar Clase">
                </div>
            </div> 
        </div>
        </form>
    </div>

    <!-- Footer con informacion extra -->
    <footer class="color-fondo-azul">
        <div class="container" style="padding-top:1rem; padding-bottom: 10rem">
            <div class="row">
                <!-- Logo DUOC -->
                <div class="col-12" style="padding: 1rem">
                    <img src="{% static "img/duoc-logo.png" %}" alt="logoduoc" class="img-fluid" style="object-fit:cover; width: 200px;">
                </div>
                <!-- Informacion de proyecto -->
                <div class="col-12" style="padding: 1rem">
                    <h5 class="color-blanco">Desarrollo Aplicaciones Web y Mobile - S2 2018.</h5>
                    <p class="color-blanco"> <b>Seccion 006D</b> - Felipe Moraga, Alexis Aravena, Mirko Ivanovich.</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>